body{
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 40%;
    height: 65%;
    background-color: rgb(242, 249, 252);
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 2;
}

.login h1 {
    text-align: center;
    color: #333;
    text-transform: uppercase;
}

.login form {
    margin-top: 10px;
}

.login p {
    margin: 10px 0;
    color: #333;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #bcc457;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login input[type="submit"]:hover {
    background-color: #b6b859;
}

@media screen and (max-width: 700px) {
    .container {
       width: 100%;
    }
    .login form {
       width: 100%;
    }
}